<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinDriverInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.diagnostics>
    <sources>
      <source name="PrimeraDriverInstaller"
              switchName="traceSwitch">
        <listeners>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="traceSwitch" value="Verbose" />
    </switches>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
    <userSettings>
        <WinDriverInstaller.Properties.Settings>
            <setting name="DriverName" serializeAs="String">
                <value>Disc Publisher II</value>
            </setting>
            <setting name="DriverINF" serializeAs="String">
                <value>bravo2.inf</value>
            </setting>
            <setting name="DriverMsg" serializeAs="String">
                <value>Please click "Install Printer" to install the printer driver for your $PRINTER$.</value>
            </setting>
            <setting name="BtnInstallPrinter" serializeAs="String">
                <value>Install Printer</value>
            </setting>
            <setting name="ProductName" serializeAs="String">
                <value>Disc Publisher II</value>
            </setting>
            <setting name="PluginMsg" serializeAs="String">
                <value>Now plug in the USB on the printer to continue the setup.</value>
            </setting>
            <setting name="InstallGiveupSec" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BtnContinue" serializeAs="String">
                <value>Continue</value>
            </setting>
            <setting name="SuccessMsg" serializeAs="String">
                <value>Congratulations your $PRINTER$ installed successfully!</value>
            </setting>
            <setting name="FailureMsg" serializeAs="String">
                <value>Your $PRINTER$ failed to install...</value>
            </setting>
            <setting name="FailureHtmlDoc" serializeAs="String">
                <value>Manual.html</value>
            </setting>
            <setting name="FailureLink" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Printer Driver installer for $PRINTER$</value>
            </setting>
            <setting name="DriverMsg1" serializeAs="String">
                <value>DO NOT PLUG IN THE USB CONNECTION UNTIL INSTRUCTED TO DO SO.</value>
            </setting>
            <setting name="UpdateHtmlDoc" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckInstallMsg" serializeAs="String">
                <value>Verifying driver installation...</value>
            </setting>
            <setting name="USBVendorStr" serializeAs="String">
                <value>VID_0F25</value>
            </setting>
            <setting name="USBProductStr" serializeAs="String">
                <value>PID_0008</value>
            </setting>
            <setting name="DriverMsg1PlugIn" serializeAs="String">
                <value>PLUG IN YOUR $PRINTER$ now to allow the update.</value>
            </setting>
            <setting name="InstallingMsg" serializeAs="String">
                <value>Installing Driver...</value>
            </setting>
            <setting name="PostInstallMSI" serializeAs="String">
                <value />
            </setting>
            <setting name="PostInstallCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="INFPrinterID" serializeAs="String">
                <value>USBPRINT\PRIMERA_TECHNOLOGY_IA5E7</value>
            </setting>
            <setting name="DriverFolder" serializeAs="String">
                <value>Driver</value>
            </setting>
        </WinDriverInstaller.Properties.Settings>
    </userSettings>
</configuration>